Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

Undo adam does things
  frontend/index.html
Labels: Common Code Frontend

MVP-226: Refactor Unit Tests Into One Action
  .github/workflows/ci-api-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

delete frontend specific ci file
  .github/workflows/ci-frontend-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Refactor CI Test Suite Into One Action
  .github/workflows/ci-api-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

removing frontend specific ci file
  .github/workflows/ci-frontend-unit-integration-test.yaml
Labels: Github Actions

Brady did it
  frontend/index.html
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

MVP-226: If/Else Typo
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Fetch depth for Output Logic
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Troubleshooting Output
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Troubleshooting Output
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Indentation/Spacing Errors
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Fix dumb
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Undid the thing
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

Updated readme
  README.md
Labels: none

MVP-226: Update Path Requirements for CI
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

now uses .env file
  compose.yaml
Labels: none

Added bug report and feature request links
  frontend/src/assets/bug-report.svg
  frontend/src/assets/feature-request.svg
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Updated test
  frontend/__tests__/unit/pages/Package.test.tsx
Labels: Common Code Frontend

Backend dependency updates
  backend/package.json
Labels: Common Code API

Frontend dependency updates
  frontend/package.json
Labels: Common Code Frontend

add endpoint builder override
  README.md
  compose.override.yaml
Labels: none

added endpoint builder
  backend/package.json
Labels: Common Code API

change postgres version to match openshift
  example.env
Labels: none

added database connection
  backend/package.json
  backend/src/database/dataSource.ts
  backend/src/index.ts
  backend/src/utils/logging/logMessages.ts
  example.env
Labels: Common Code API

add task entity to db
  backend/README.md
  backend/nodemon.json
  backend/package.json
  backend/src/database/dataSource.ts
  backend/src/database/migrations/1718118307165-initial_setup.ts
  backend/src/entities/task.entity.ts
Labels: Common Code API

added initial data
  backend/src/database/migrations/1718118307165-initial_setup.ts
Labels: Common Code API

add task endpoint
  backend/src/entities/index.ts
  backend/src/express.ts
  backend/src/routes.ts
Labels: Common Code API

Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

removed console.logs
  backend/src/express.ts
Labels: Common Code API

used published version of library
  backend/package.json
Labels: Common Code API

Test Promotion Typo In Log Output
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

add endpoint builder package
  backend/package.json
Labels: Common Code API

Added code climate conf
  .codeclimate.yml
Labels: none

changed db container name
  compose.yaml
Labels: none

updated example.env
  example.env
Labels: none

MVP-348: Adding FixMe Plugin to Code Climate Config
  .codeclimate.yml
Labels: none

Made an Oopsie
  .codeclimate.yml
Labels: none

MVP-323 dependency updates
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

Added vulnerability report
  .github/config/dep-report.json5
  .github/config/vulnerability-report.json5
  .github/helpers/create-npm-dep-report-issues.js
  .github/helpers/github-api/create-and-close-existing-issue.mjs
  .github/helpers/github-api/github-api-requests.mjs
  .github/helpers/npm-audit/create-report-issues.cjs
  .github/helpers/npm-audit/create-report.cjs
  .github/helpers/npm-audit/enhance-vulnerability-list.cjs
  .github/helpers/npm-audit/find-direct-dependencies.cjs
  .github/helpers/npm-audit/find-indirect-vulnerable-deps.cjs
  .github/helpers/npm-audit/get-latest-dep-info.cjs
  .github/helpers/npm-audit/is-fix-available.cjs
  .github/helpers/npm-audit/parse-npm-vulnerabilities.cjs
  .github/helpers/npm-audit/run-npm-audit.cjs
  .github/helpers/npm-deps/create-report-issues.cjs
  .github/helpers/npm-deps/create-report.cjs
  .github/helpers/npm-deps/parse-npm-deps.cjs
  .github/workflows/npm-audit-report.yaml
Labels: Github Actions

Added middleware, health and config modules
  backend/__tests__/integration/config/router.test.ts
  backend/__tests__/integration/health/router.test.ts
  backend/__tests__/unit/modules/config/controller.test.ts
  backend/__tests__/unit/modules/health/controller.test.ts
  backend/package.json
  backend/src/express.ts
  backend/src/modules/config/controller.ts
  backend/src/modules/config/router.ts
  backend/src/modules/health/controller.ts
  backend/src/modules/health/router.ts
Labels: Common Code API

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
