Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*

Updated prettier rule
  frontend/.eslintrc.cjs
Labels: Common Code Frontend

Added design-system header, adjusted styles, fixed scripts
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/index.ts
  frontend/src/css/base.css
  frontend/src/css/variables.css
  frontend/src/pages/Landing.tsx
  package.json
Labels: Common Code Frontend

Updated env for node image tag
  example.env
Labels: none

Added stack component
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/index.ts
  frontend/src/css/variables.css
Labels: Common Code Frontend

Completed testing of Stack
  frontend/src/components/common/Stack.tsx
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Update .github/workflows/dev-api-image-build.yaml
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

Added ClickableCard component
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/index.ts
Labels: Common Code Frontend

Added jsdocs comment
  frontend/src/components/common/ClickableCard.tsx
Labels: Common Code Frontend

Added jsdocs comment
  frontend/src/components/common/Stack.tsx
Labels: Common Code Frontend

Fix type and comment
  frontend/src/components/common/ClickableCard.tsx
Labels: Common Code Frontend

Fix comment
  frontend/src/components/common/Stack.tsx
Labels: Common Code Frontend

MVP-80: Automated CD Pipeline For CoCo API
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Debug image tag number for testing pipeline
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Adding Docker Build Arg For API Node Image
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Changing Docker Build Context
  backend/.docker/Dockerfile.prod
Labels: Common Code API

MVP-80: Changing Docker Build Context
  backend/.docker/Dockerfile.prod
Labels: Common Code API

MVP-80: Troubleshooting Docker install error
  backend/.docker/Dockerfile.prod
Labels: Common Code API

MVP-80: Dockerfile Copy All
  backend/.docker/Dockerfile.prod
Labels: Common Code API

MVP-80: Copy of Dockerfile.prod one directory up
  backend/Dockerfile.prod
Labels: Common Code API

changing docker build file location
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Troubleshooting Image Push to Artifactory
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Typo!
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Artifactory Push Troubleshooting
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

Added github issues endpoint
  backend/src/express.ts
  backend/src/modules/github/controller.ts
  backend/src/modules/github/router.ts
  backend/src/modules/github/schemas.ts
  backend/src/modules/index.ts
Labels: Common Code API

Made state a query param
  backend/src/modules/github/controller.ts
  backend/src/modules/github/router.ts
  backend/src/modules/github/schemas.ts
  backend/src/utils/express-requests/validateRequestSchema.ts
Labels: Common Code API

MVP-80: Removing bloat from Artifactory URL
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Typo
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

MVP-80: Build, tag, push ReactJS App to Artifactory
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

Create Dockerfile.prod
  frontend/Dockerfile.prod
Labels: Common Code Frontend

adding node image tag build arg
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

MVP-80: Typos
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

MVP-80: Updating build args for frontend
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

Rename .github/helpers/github-api/update-wiki-table.py to .github/helpers/update-wiki-table.py
  .github/helpers/update-wiki-table.py
Labels: none

MVP-80: Create API Deployment Config Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Delete openshift/templates/api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Create api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Delete openshift/templates/api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Create api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Create app-dc-template.yaml
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Removing App DC Field Bloat
  openshift/templates/api-dc-template.yaml
Labels: Openshift
