Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

MVP-80: Intentionally Deploying a Bad
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Redeploying a Good
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Testing Deployment Pipeline
  backend/src/index.ts
Labels: Common Code API

Removed button and a styles
  frontend/src/css/base.css
Labels: Common Code Frontend

Updated readme
  README.md
Labels: none

Fixed typos in zodValidationMiddleware
  backend/src/utils/express-requests/zodValidationMiddleware.ts
Labels: Common Code API

MVP-80: Testing for bad deployments
  frontend/index.html
Labels: Common Code Frontend

Added heading component
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/Heading.tsx
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/index.ts
  frontend/src/css/base.css
Labels: Common Code Frontend

MVP-80: Remove ResourceID field to allow for re-deployment
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Re-testing bad deployments
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Re-testing Broken Re-Deployments
  frontend/index.html
Labels: Common Code Frontend

gg adam
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Vault Integration Secret Injection Into API DC Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

missing env var
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Automate Deployment of API to TEST Namespace
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: Automate Deployment of Frontend to TEST Environment
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

updating service account for login
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

Update frontend/src/components/common/Heading.tsx
  frontend/src/components/common/Heading.tsx
Labels: Common Code Frontend

Added Typography component and updated jsdoc comments
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/Typography.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Tweaked sizing
  frontend/src/components/common/Typography.tsx
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Added hook useDynamicStyles and separated Typography component
  frontend/src/components/common/Typography.tsx
  frontend/src/components/common/Typography/constants.ts
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/common/Typography/styleMapper.ts
  frontend/src/components/common/Typography/types.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDynamicStyles.ts
Labels: Common Code Frontend

Added notes to constants file
  frontend/src/components/common/Typography/constants.ts
Labels: Common Code Frontend

Added note to styleMapper return
  frontend/src/components/common/Typography/styleMapper.ts
Labels: Common Code Frontend

Removed ellipsis prop after undesired results while testing
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/common/Typography/styleMapper.ts
  frontend/src/components/common/Typography/types.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Demoing capabilities of Typography
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/common/Typography/types.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Updated text on landing page cards
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Added changes git alias
  README.md
Labels: none

Updated aliases
  README.md
  package.json
  scripts/setupGitAliases.js
Labels: none

Added comments to time based greeting
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

MVP-80: Testing New Image with Vault Integration
  backend/src/index.ts
Labels: Common Code API

MVP-80: Changing Login Service Account to Default
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: Secrets not Env
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: Missed a secret reference
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: It's Monday, did a bad
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: Healthcheck Login Secret
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: More secret references
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

Update dev-api-deploy.yaml
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

Same mistake in APP Update
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

MVP-80: Quote Typo in TEST Update Wiki
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

MVP-80: Testing APP Deployment Pipeline to TEST
  frontend/index.html
Labels: Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
