Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

Update create-report.cjs
  .github/helpers/npm-audit/create-report.cjs
Labels: none

Added express utilities package
  backend/package.json
  backend/src/index.ts
  backend/src/modules/github/controllers/getIssues.ts
  backend/src/modules/github/controllers/getPullRequests.ts
  backend/src/modules/github/schemas.ts
  backend/src/modules/index.ts
  backend/src/utils/express-requests/HttpError.ts
  backend/src/utils/express-requests/errorWrapper.ts
  backend/src/utils/express-requests/httpStatusCode.ts
  backend/src/utils/express-requests/validateZodRequestSchema.ts
  backend/src/utils/express-requests/zodValidationMiddleware.ts
  backend/src/utils/index.ts
  backend/src/utils/logMessages.ts
  backend/src/utils/logging/colors.ts
  backend/src/utils/logging/debugStatements.ts
  backend/src/utils/logging/getCurrentDateTime.ts
  backend/src/utils/logging/logMessages.ts
  backend/src/utils/zod.ts
  compose.override.yaml
Labels: Common Code API

Updated tests
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/unit/modules/github/controllers/getIssues.test.ts
  backend/__tests__/unit/modules/github/controllers/getPullRequests.test.ts
  backend/__tests__/unit/utils/express-requests/HttpError.test.ts
  backend/__tests__/unit/utils/express-requests/errorWrapper.test.ts
  backend/__tests__/unit/utils/express-requests/httpStatusCode.test.ts
  backend/__tests__/unit/utils/express-requests/validateZodRequestSchema.test.ts
  backend/__tests__/unit/utils/express-requests/zodValidationMiddleware.test.ts
  backend/__tests__/unit/utils/logMessages.test.ts
  backend/__tests__/unit/utils/logging/colors.test.ts
  backend/__tests__/unit/utils/logging/debugStatements.test.ts
  backend/__tests__/unit/utils/logging/getCurrentDateTime.test.ts
  backend/__tests__/unit/utils/logging/logMessages.test.ts
  backend/__tests__/unit/utils/zod.test.ts
Labels: Common Code API

refining ci
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

troubleshooting git diff
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

removing quiet flag
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

blah
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

please work
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

work pretty please
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Update ci-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

Updated sso packages'
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

Update package.json
  backend/package.json
Labels: Common Code API

Final Vuln Report Fixes
  .github/helpers/npm-audit/create-report.cjs
  .github/helpers/npm-audit/enhance-vulnerability-list.cjs
  .github/helpers/npm-audit/find-direct-dependencies.cjs
  .github/helpers/npm-audit/find-indirect-vulnerable-deps.cjs
  .github/helpers/npm-audit/is-fix-available.cjs
  .github/helpers/npm-audit/parse-npm-vulnerabilities.cjs
  .github/helpers/npm-audit/run-npm-audit.cjs
  .github/helpers/parse-json5-config.cjs
  .github/workflows/npm-audit-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
