Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

MVP-80: Cleanup TEST APP Deployment
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-80: Cleaning up copy pasta mistakes from API deploy
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-80: Ugly bad typo
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-80: Naming Convention
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-80: Adding Service Account to APP DC for image pull
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Changing Artifactory Pull Secret Name
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Removing Service Account From APP DC
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Re-adding vault service account
  openshift/templates/app-dc-template.yaml
Labels: Openshift

Added comment to constant font size
  frontend/src/components/common/Typography/constants.ts
Labels: Common Code Frontend

MVP-80: Specifying User Pre-deploy
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-80: New Image Pull Secret
  openshift/templates/app-dc-template.yaml
Labels: Openshift

Added heading component
  frontend/src/components/common/Heading/constants.ts
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Heading/styleMapper.ts
  frontend/src/components/common/Heading/types.ts
  frontend/src/components/common/index.ts
Labels: Common Code Frontend

Updated Card component
  frontend/src/components/common/Card/constants.ts
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Card/styleMapper.ts
  frontend/src/components/common/Card/types.ts
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/index.ts
  frontend/src/hooks/useDynamicStyles.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Removed height prop from Cards on Landing page
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Updated Stack component
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/Stack/constants.ts
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Stack/styleMapper.ts
  frontend/src/components/common/Stack/types.ts
Labels: Common Code Frontend

Made PageLayout margin responsive
  frontend/src/components/common/PageLayout.tsx
Labels: Common Code Frontend

Added icon component
  frontend/src/components/common/Icon/constants.ts
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/Icon/styleMapper.ts
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/common/index.ts
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/components/icons/Authenticate/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Added Spinner
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Spinner.tsx
  frontend/src/components/common/index.ts
Labels: Common Code Frontend

MVP-80: APP/API Deployment Pipeline Refactor for Pull Secret Parameter
  openshift/templates/app-dc-template.yaml
Labels: Openshift

Update dev-app-deploy.yaml
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

adding artifact pull secret param to app dev deploy action
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

adding artifact pull secret param to api dev deploy
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

adding pull secret param to oc process/apply command for template
  .github/helpers/deploy.sh
Labels: none

Added margin
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

MVP-80: Forgot to remove pipe
  .github/helpers/deploy.sh
Labels: none

MVP-80: Missing Parameter/Env Var on API Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Removing Image Pull Secret Field from API DC
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Remove Image Pull Secret Field from APP DC
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Adding Generic Pull Secret Credential to API/APP DC template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

updating app dc template
  openshift/templates/app-dc-template.yaml
Labels: Openshift

reverting deploy.sh changes
  .github/helpers/deploy.sh
Labels: none

updating api github action
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

updating app github action
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

removing unused API template parameter
  openshift/templates/api-dc-template.yaml
Labels: Openshift

removing unused app template parameter
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Automate APP deployment to PROD
  .github/workflows/prod-app-deploy.yaml
Labels: Github Actions

MVP-80: Automate deployment of API to PROD
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

MVP-137 Add SSO express package to backend
  backend/package.json
  backend/src/config/auth.ts
  backend/src/express.ts
Labels: Common Code API

MVP-136-install-react-sso-package
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/main.tsx
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

initial component
  frontend/src/AppRouter.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/index.ts
Labels: Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
