Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

Removed database
  README.md
  backend/README.md
  backend/package.json
  backend/src/config/auth.ts
  backend/src/config/env.ts
  backend/src/dataSource.ts
  backend/src/index.ts
  backend/src/modules/common/base-entity/base-entity.class.ts
  backend/src/modules/common/controller/controller.class.ts
  backend/src/modules/common/controller/controller.factory.ts
  backend/src/modules/common/index.ts
  backend/src/modules/common/repository/repository.class.ts
  backend/src/modules/common/repository/repository.factory.ts
  backend/src/modules/common/service/service.class.ts
  backend/src/modules/common/service/service.factory.ts
  backend/src/modules/health/controller.ts
  backend/src/modules/health/router.ts
  backend/src/modules/index.ts
  backend/src/modules/user/entity.ts
  backend/src/modules/user/router.ts
  backend/src/utils/auth/activateKeycloakIdirUser.ts
  backend/src/utils/auth/activateUser.ts
  backend/src/utils/logging/logMessages.ts
  compose.yaml
  example.env
  package.json
Labels: Common Code API

Added zod validation middleware
  backend/src/express.ts
  backend/src/modules/github/controller.ts
  backend/src/utils/express-requests/validateZodRequestSchema.ts
  backend/src/utils/express-requests/zodValidationMiddleware.ts
  backend/src/utils/index.ts
Labels: Common Code API

Removed export of files that were removed
  backend/src/utils/index.ts
Labels: Common Code API

MVP-80: Create dev-api-deploy.yaml
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

creating deploy shell script
  .github/helpers/deploy.sh
Labels: none

adding execute perms
  .github/helpers/deploy.sh
Labels: none

important change here
  backend/src/express.ts
Labels: Common Code API

Update dev-api-image-build.yaml
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

woah cool new feature brah
  backend/src/express.ts
Labels: Common Code API

MVP-80: So many typos
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Re-naming template parameter
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Cleaning Up API DC Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Still more typos
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Rollout Watch Correct Pod Reference
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

MVP-80: Change API DeployConfig Image Reference, Service Account
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Update Hardcoded Image Tag
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

adam made me do it
  backend/src/express.ts
Labels: Common Code API

MVP-80: Artifactory Image Reference Typo
  openshift/templates/api-dc-template.yaml
Labels: Openshift

all better
  backend/src/express.ts
Labels: Common Code API

MVP-80: Troubleshooting Artifactory Authorization Error
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Update Image Pull Secret Reference
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Update pull secret
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Remove Service Account Reference
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-80: Update dev-api-deploy.yaml
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

MVP-80: Updating Build, Tag Push Frontend Github Action
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

MVP-80: Renaming API Reference to Match Kubernetes Service
  frontend/nginx.conf
Labels: Common Code Frontend

MVP-80: Changing Container Name in Docker Compose
  compose.yaml
Labels: none

MVP-80: Testing Frontend Build Tag Push
  frontend/index.html
Labels: Common Code Frontend

Wrong branch whoopsie
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Testing Frontend Build Tag Push
  frontend/index.html
Labels: Common Code Frontend

MVP-80: Wrong Image Tag Table Row Name
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

MVP-80: Testing Frontend Build Tag Push
  frontend/index.html
Labels: Common Code Frontend

updating vite config with new service name
  frontend/vite.config.ts
Labels: Common Code Frontend

MVP-80: API Container Naming
  compose.yaml
Labels: none

updating root package.json to reflect naming change
  package.json
Labels: none

MVP-80: Updating Image and Image Pull Secret
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-80: Create APP Deploy Github Action
  .github/dev-app-deploy.yaml
Labels: none

Update .github/dev-app-deploy.yaml
  .github/dev-app-deploy.yaml
Labels: none

MVP-80: moving actions to correct directory
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

MVP-80: Many kinds, handle them
  openshift/templates/app-dc-template.yaml
Labels: Openshift

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
