Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*

MVP-248: Updating Wrong Row/Column in Image Tag Wiki Table
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Updating Wrong Row/Column for APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

MVP-248: Update PROD API Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-prod.yaml
Labels: Github Actions

MVP-248: Update TEST APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

MVP-248: Update PROD APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

MVP-226: Create Code Climate Integration for Test Coverage
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

wrong npm script
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

MVP-226: troubleshooting test coverage report
  backend/src/index.ts
Labels: Common Code API

MVP-226: Don't look at me
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

Update api-test-coverage-report.yaml
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

Updated links to documentation
  frontend/src/Router.tsx
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

MVP-248: Missing Github Token?
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

MVP-248: Missing Github Token pt.2?
  .github/workflows/update-image-tag-frontend-test.yaml
Labels: Github Actions

MVP-248: Missing Github Token pt.3?
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

Updated to 1.0.0-beta
  frontend/package.json
Labels: Common Code Frontend

Fixed test
  frontend/__tests__/unit/pages/Package.test.tsx
Labels: Common Code Frontend

added postgresql container
  compose.yaml
  example.env
Labels: none

removed extra line
  example.env
Labels: none

Fixed override scripts
  package.json
Labels: none

MVP-226: Upload API coverage to Github
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

add debug
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

typo in path
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

update upload artifact to v4
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

frontend test coverage report
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

Fix test
  frontend/__tests__/unit/utils/formatDateString.test.ts
  frontend/src/utils/formatDateString.ts
Labels: Common Code Frontend

updating diff pathes
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

created download artifact for summing coverage reports
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

super user go
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

dumb pluralization
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

spelling?
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

remove 777
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

what is where
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

create aggregated coverage report
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

adam typo
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

summed coverage upload to code climate
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

MVP-226: Code Climate Action Cleanup
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

MVP-226: API CI Test Suite Action
  .github/workflows/ci-api-unit-integration-test.yaml
Labels: Github Actions

MVP-226: Create CI Action for Frontend Unit Test Suite
  .github/workflows/ci-frontend-unit-integration-test.yaml
Labels: Github Actions

Undo adam do stuff
  backend/src/index.ts
Labels: Common Code API

MVP-226: Badge Update
  README.md
Labels: none
