Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

MVP-248: Forgot to change yaml field to correctly update
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Troubleshoot API image tag update
  backend/src/index.ts
Labels: Common Code API

MVP-248: Adam made a dumb
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Troubleshoot API image tag update
  backend/src/index.ts
Labels: Common Code API

MVP-248: Dyslexia Strikes Back
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Troubleshooting
  backend/src/index.ts
Labels: Common Code API

MVP-248: Removing Dev Deploy Github Actions for API and Frontend
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

removing api deploy to dev action
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

MVP-248: Creating Script to Update GitOps Frontend Image Tag Value
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

renaming api dev update tag action name
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Testing Frontend Image Tag Update/Deploy to Dev
  frontend/index.html
Labels: Common Code Frontend

MVP-248: Adding Wiki Table Update to GitOps API Action
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Testing Update Wiki Jobs
  backend/src/index.ts
Labels: Common Code API

MVP-248: Updating User for Update Wiki
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Troubleshooting Update Wiki Action
  backend/src/index.ts
Labels: Common Code API

MVP-248: Troubleshooting Github Login in Action
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Updating API Image to Test Update WIki Action
  backend/src/index.ts
Labels: Common Code API

removing update wiki
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

Added pull requests to Package page
  frontend/src/components/common/Tabs/Tabs.tsx
  frontend/src/components/common/Tabs/styleMapper.ts
  frontend/src/components/github/GitHubPulls/GitHubPulls.tsx
  frontend/src/components/github/GitHubPulls/index.ts
  frontend/src/components/github/GitHubPulls/types.ts
  frontend/src/components/github/GitHubTabs/GitHubTabs.tsx
  frontend/src/components/github/index.ts
  frontend/src/css/variables.css
  frontend/src/utils/endpoints.ts
Labels: Common Code Frontend

Updated tests
  frontend/__tests__/unit/components/github/GitHubPulls.test.tsx
  frontend/__tests__/unit/components/github/GitHubTabs.test.tsx
  frontend/src/components/common/Tabs/Tabs.tsx
Labels: Common Code Frontend

Added cursor pointer to tab header
  frontend/src/components/common/Tabs/styleMapper.ts
Labels: Common Code Frontend

Fixed map ky issues
  frontend/src/components/common/Tabs/Tabs.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

removed unnecessary env configurations
  compose.yaml
Labels: none

MVP-248: Creating Action to Update TEST API Image Tag in GitOps Repo
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

MVP-248: Typo In Action name
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

MVP-248: Create Script to Update Frontend Image Tag in GitOps Repo
  .github/workflows/update-image-tag-frontend-test.yaml
Labels: Github Actions

MVP-248: Removing Old Promote Image Actions
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

Delete .github/workflows/test-app-deploy.yaml
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

MVP-248: Updating Action Names
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

Update update-image-tag-frontend-dev.yaml
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

MVP-248: Create Script to Update API Image Tag in GitOps Repo
  .github/workflows/update-image-tag-api-prod.yaml
Labels: Github Actions

MVP-248: Create Script to Update PROD Frontend Image tag in GitOps Repo
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

MVP-248: Removing Old PROD Promote Actions
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

Delete .github/workflows/prod-app-deploy.yaml
  .github/workflows/prod-app-deploy.yaml
Labels: Github Actions

MVP-248: Adding Python Script to Update Image Tag Wiki Table
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

brady's changes
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

MVP-248: Testing Update Action
  backend/src/index.ts
Labels: Common Code API

MVP-248: Update Image Tag Wiki Table for Frontend Image
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

MVP-248: Testing Update Wiki Table Action
  frontend/index.html
Labels: Common Code Frontend

MVP-248: Updating API TEST Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
