Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

implemented breadcrumbs
  frontend/src/AppRouter.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/Crumb.tsx
  frontend/src/components/Breadcrumbs/makeCrumb.ts
  frontend/src/components/Breadcrumbs/styleMapper.ts
  frontend/src/components/Breadcrumbs/types.ts
  frontend/src/components/index.ts
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
  frontend/src/types/constants.ts
  frontend/src/types/index.ts
  frontend/src/types/styles.ts
Labels: Common Code Frontend

Attempt to fix image src in openshift
  frontend/src/assets/declarations.d.ts
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

fixed test
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
Labels: Common Code Frontend

Updated sso package
  backend/package.json
Labels: Common Code API

added top margin
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

removed unneeded components
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

test new login redirect
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/AppRouter.tsx
  frontend/src/Router.tsx
  frontend/src/main.tsx
  frontend/sso-react-1.0.0-alpha3.tgz
Labels: Common Code Frontend

Updated title
  frontend/index.html
Labels: Common Code Frontend

Added hidden comments with data to output
  .github/helpers/create-npm-dep-report.js
Labels: none

Added line break
  .github/helpers/create-npm-dep-report.js
Labels: none

Added spacing props to Stack component
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Stack/constants.ts
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Stack/styleMapper.ts
  frontend/src/components/common/Stack/types.ts
  frontend/src/components/github/IssueCard/index.tsx
Labels: Common Code Frontend

reset sso package
  .gitignore
  backend/package.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/sso-react-1.0.0-alpha3.tgz
Labels: Common Code API, Common Code Frontend

breadcrumb pathname updates
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
Labels: Common Code Frontend

remove duplicate key
  frontend/.eslintrc.cjs
Labels: Common Code Frontend

Update frontend/package.json
  frontend/package.json
Labels: Common Code Frontend

don't show breadcrumbs on home page
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
Labels: Common Code Frontend

refactor routing
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/packages.json
  frontend/tsconfig.json
Labels: Common Code Frontend

Added jest config and some unit tests
  .gitignore
  backend/__tests__/unit/utils/express-requests/HttpError.test.ts
  backend/__tests__/unit/utils/express-requests/errorWrapper.test.ts
  backend/__tests__/unit/utils/express-requests/httpStatusCode.test.ts
  backend/__tests__/unit/utils/express-requests/validateZodRequestSchema.test.ts
  backend/__tests__/unit/utils/express-requests/zodValidationMiddleware.test.ts
  backend/jest.config.ts
  backend/package.json
  backend/src/utils/index.ts
  backend/tsconfig.json
Labels: Common Code API

Added remaining utils tests
  backend/__tests__/unit/utils/logging/colors.test.ts
  backend/__tests__/unit/utils/logging/debugStatements.test.ts
  backend/__tests__/unit/utils/logging/getCurrentDateTime.test.ts
  backend/__tests__/unit/utils/logging/logMessages.test.ts
  backend/__tests__/unit/utils/zod.test.ts
  backend/jest.config.ts
  backend/src/utils/logging/getCurrentDateTime.ts
  backend/src/utils/zod.ts
Labels: Common Code API

Added module unit tests
  backend/__tests__/unit/modules/config/controller.test.ts
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/__tests__/unit/modules/github/schemas.test.ts
  backend/__tests__/unit/modules/health/controller.test.ts
Labels: Common Code API

Added config unit tests
  backend/__tests__/unit/config/auth.test.ts
  backend/__tests__/unit/config/cors.test.ts
  backend/__tests__/unit/config/rateLimit.test.ts
  backend/src/express.ts
Labels: Common Code API

Added integration tests
  backend/__tests__/integration/config/router.test.ts
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/integration/health/router.test.ts
  backend/package.json
  backend/src/express.ts
Labels: Common Code API

Fix timing issue
  backend/__tests__/unit/utils/logging/logMessages.test.ts
Labels: Common Code API

Fix github issues urls
  backend/src/modules/github/controller.ts
  frontend/src/components/github/IssueCard/index.tsx
Labels: Common Code API, Common Code Frontend

refactor router and breadcrumbs
  frontend/src/App.tsx
  frontend/src/Layouts/RootLayout.tsx
  frontend/src/Layouts/index.ts
  frontend/src/Layouts/styles.ts
  frontend/src/Layouts/types.d.ts
  frontend/src/Router.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/makeCrumb.ts
  frontend/src/components/Breadcrumbs/makeCrumbs.ts
  frontend/src/components/Breadcrumbs/types.d.ts
  frontend/src/components/common/PageLayout/PageLayout.tsx
  frontend/src/components/common/PageLayout/index.ts
  frontend/src/components/common/PageLayout/types.d.ts
  frontend/src/components/common/index.ts
  frontend/src/packagedata/index.ts
  frontend/src/packagedata/package.d.ts
  frontend/src/packagedata/packages.ts
  frontend/src/packages.json
  frontend/src/pages/Landing.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Package.tsx
  frontend/src/types/index.ts
Labels: Common Code Frontend

Updated readme with volume mount info
  README.md
Labels: none

added styling
  frontend/src/components/Breadcrumbs/Crumb.tsx
  frontend/src/components/Breadcrumbs/styleMapper.ts
Labels: Common Code Frontend

fixed typo
  frontend/src/App.tsx
Labels: Common Code Frontend

Production build fixes
  backend/.docker/Dockerfile.prod
  backend/Dockerfile.prod
  compose.prod.yaml
Labels: Common Code API

Fixed workflows
  .github/workflows/dev-api-image-build.yaml
  .github/workflows/dev-app-image-build.yaml
  frontend/Dockerfile.prod
Labels: Github Actions, Common Code Frontend

Fixed tests
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/jest.config.ts
  backend/tsconfig.json
Labels: Common Code API

Fix build
  backend/.docker/Dockerfile.prod
Labels: Common Code API

Changed prod npm script
  backend/package.json
Labels: Common Code API

removed packages folder
  .gitignore
Labels: none

Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

Update frontend/jest.config.ts
  frontend/jest.config.ts
Labels: Common Code Frontend

Update frontend/package.json
  frontend/package.json
Labels: Common Code Frontend

changed to fragment instead of div
  frontend/src/Layouts/RootLayout.tsx
Labels: Common Code Frontend

add labels props
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
Labels: Common Code Frontend

Merge branch 'main' into MVP-100-Breadcrumbs-Router-Changes
  backend/package.json
  frontend/package.json
  frontend/src/components/cards/PackageCard/index.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/SectionCard/index.tsx
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/github/GitHubIssues/index.tsx
  frontend/src/components/github/IssueCard/index.tsx
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/components/icons/Exit/index.tsx
  frontend/src/components/text/Greeting/index.tsx
  frontend/src/utils/index.ts
Labels: Common Code API, Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
