Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*

MVP-80: API env var updates
  openshift/templates/api-dc-template.yaml
Labels: Openshift

New eslint rule
  frontend/.eslintrc.cjs
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/Spinner.tsx
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

MVP-80: Refact API DC to include Vault Env in Path
  openshift/templates/api-dc-template.yaml
Labels: Openshift

including environment in secret storage path
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Changed ENVIRONMENT env var value
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

change config to not require React import
  frontend/.eslintrc.cjs
  frontend/src/AppRouter.tsx
Labels: Common Code Frontend

MVP-140 Update frontend dependencies
  frontend/package.json
Labels: Common Code Frontend

MVP-141: Update Backend Dependencies
  backend/package.json
Labels: Common Code API

added jest
  frontend/.eslintrc.cjs
  frontend/package.json
Labels: Common Code Frontend

configure jest
  frontend/.eslintrc.cjs
  frontend/jest.config.ts
  frontend/package.json
  frontend/tsconfig.json
Labels: Common Code Frontend

configure jest
  frontend/jest.config.ts
  frontend/package.json
Labels: Common Code Frontend

Added github issues component
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/SectionCard/constants.ts
  frontend/src/components/common/SectionCard/index.tsx
  frontend/src/components/common/SectionCard/styleMapper.ts
  frontend/src/components/common/SectionCard/types.ts
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/Spinner/styles.css
  frontend/src/components/common/Spinner/types.ts
  frontend/src/components/common/index.ts
  frontend/src/components/github/GitHubIssues/index.tsx
  frontend/src/components/github/GitHubIssues/types.ts
  frontend/src/components/github/IssueCard/constants.ts
  frontend/src/components/github/IssueCard/index.tsx
  frontend/src/components/github/IssueCard/styleMapper.ts
  frontend/src/components/github/IssueCard/types.ts
  frontend/src/components/github/index.ts
  frontend/src/css/variables.css
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
  frontend/src/utils/endpoints.ts
  frontend/src/utils/formatTimeDifferenceString.ts
Labels: Common Code Frontend

Added empty issues array check
  frontend/src/components/github/GitHubIssues/index.tsx
Labels: Common Code Frontend

Added fetching logic to GitHubIssues component
  frontend/src/components/github/GitHubIssues/index.tsx
  frontend/src/components/github/GitHubIssues/types.ts
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Fixed hyperlinks
  frontend/src/components/github/IssueCard/index.tsx
Labels: Common Code Frontend

Created PackageCard component
  frontend/.eslintrc.cjs
  frontend/src/components/cards/PackageCard/index.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/cards/index.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Made Greeting its own component
  frontend/src/components/text/Greeting/index.tsx
  frontend/src/components/text/index.ts
  frontend/src/pages/Landing.tsx
  frontend/src/utils/getTimeBasedGreeting.ts
  frontend/src/utils/index.ts
Labels: Common Code Frontend

Added navigation logic
  frontend/src/components/cards/PackageCard/index.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

adding vault env to deploy script
  .github/helpers/deploy.sh
Labels: none

updating dev deploy action to include vault environment
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

updating test deploy action to include vault environment
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

updating prod action to include vault environment
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

updated import configs
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: Common Code Frontend

update testing configurations
  frontend/jest.config.ts
  frontend/package.json
Labels: Common Code Frontend

Update openshift/templates/api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Added summary and icon assets
  frontend/src/AppRouter.tsx
  frontend/src/assets/exchange-lab-icon.svg
  frontend/src/assets/github-icon.png
  frontend/src/assets/npm-icon.webp
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Added title and links to package page
  frontend/src/AppRouter.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

initial breadcrumb
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/src/AppRouter.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/types.ts
  frontend/src/components/index.ts
Labels: Common Code Frontend

add package for jest
  frontend/package.json
Labels: Common Code Frontend

basic crumb functionality
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
Labels: Common Code Frontend

Added modal component
  frontend/src/components/common/Icon/constants.ts
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/common/Modal/constants.ts
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Modal/styleMapper.ts
  frontend/src/components/common/Modal/types.ts
  frontend/src/components/common/index.ts
  frontend/src/components/icons/Exit/index.tsx
  frontend/src/components/icons/Exit/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/css/variables.css
Labels: Common Code Frontend

Updated packages
  backend/package.json
Labels: Common Code API

MVP-80: Troubleshooting Vault Init Container
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

updating test git action
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

updating prod git action
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

remove vault env from deploy script
  .github/helpers/deploy.sh
Labels: none

MVP-80: Troubleshooting Vault Init
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Update Deploy Scipt to check for set vault environment variable
  .github/helpers/deploy.sh
Labels: none

updating prod git action to change default vault environment
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions
