Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

Added coverage script
  frontend/package.json
  frontend/scripts/run-coverage-and-open-report.mjs
Labels: Common Code Frontend

Added css api env vars
  example.env
Labels: none

Updated configs
  frontend/jest.config.ts
  frontend/tsconfig.json
Labels: Common Code Frontend

Updated paths
  frontend/__tests__/setupTests.ts
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/__tests__/unit/Breadcrumbs/Crumb.test.tsx
  frontend/__tests__/unit/Breadcrumbs/makecrumbs.test.tsx
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/common/Card/Card.tsx
  frontend/src/components/common/Heading/Heading.tsx
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/SectionCard/SectionCard.tsx
  frontend/src/components/common/Stack/Stack.tsx
  frontend/src/components/common/Typography/Typography.tsx
  frontend/src/components/github/GitHubIssues/GitHubIssues.tsx
  frontend/src/components/github/IssueCard/IssueCard.tsx
  frontend/src/components/text/Greeting/Greeting.tsx
  frontend/src/constants/packages/types.ts
  frontend/src/main.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Updated override process
  README.md
  compose.override.yaml
  compose.yaml
  package.json
Labels: none

Added package
  backend/package.json
  compose.override.yaml
Labels: Common Code API

Added package to frontend app
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/icons/JSON/JSON.tsx
  frontend/src/components/icons/JSON/index.ts
  frontend/src/components/icons/JSON/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/pages/Landing.tsx
  frontend/src/utils/chunkArray.ts
  frontend/src/utils/index.ts
Labels: Common Code Frontend

Responsive changes
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/common/Icon/types.ts
  frontend/src/pages/Landing.tsx
  frontend/src/utils/chunkArray.ts
  frontend/src/utils/index.ts
Labels: Common Code Frontend

Updated readme
  README.md
Labels: none

Dependency updates
  backend/package.json
Labels: Common Code API

Frontend dependency updates
  frontend/package.json
Labels: Common Code Frontend

Updated spacing and text
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/constants/packages/packages.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Landing/index.ts
  frontend/src/pages/Landing/styles.css
Labels: Common Code Frontend

Updated spacing and text
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/constants/packages/packages.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Landing/index.ts
  frontend/src/pages/Landing/styles.css
Labels: Common Code Frontend

Updated text and sso react package
  frontend/package.json
  frontend/src/constants/packages/packages.ts
Labels: Common Code Frontend

Updated sso-react
  frontend/package.json
Labels: Common Code Frontend

Reducing Memory Limit on API DC to Avoid silent deploy failures
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Added github pull request endpoint
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/unit/modules/github/controller/getIssues.test.ts
  backend/__tests__/unit/modules/github/controller/getPullRequests.test.ts
  backend/src/modules/github/controller.ts
  backend/src/modules/github/router.ts
Labels: Common Code API

Added tabs component
  frontend/src/components/common/Tabs/Tabs.tsx
  frontend/src/components/common/Tabs/constants.ts
  frontend/src/components/common/Tabs/index.ts
  frontend/src/components/common/Tabs/styleMapper.ts
  frontend/src/components/common/Tabs/types.ts
Labels: Common Code Frontend

Added GitHubTabs component
  frontend/src/components/github/GitHubIssues/GitHubIssues.tsx
  frontend/src/components/github/GitHubIssues/types.ts
  frontend/src/components/github/GitHubTabs/GitHubTabs.tsx
  frontend/src/components/github/GitHubTabs/index.ts
  frontend/src/components/github/GitHubTabs/types.ts
  frontend/src/components/github/index.ts
Labels: Common Code Frontend

Added GitHubTabs to PackagePage
  frontend/src/components/common/SectionCard/SectionCard.tsx
  frontend/src/components/common/SectionCard/constants.ts
  frontend/src/components/common/SectionCard/index.ts
  frontend/src/components/common/SectionCard/styleMapper.ts
  frontend/src/components/common/SectionCard/types.ts
  frontend/src/components/common/index.ts
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Seperated controller files
  backend/__tests__/unit/modules/github/controllers/getIssues.test.ts
  backend/__tests__/unit/modules/github/controllers/getPullRequests.test.ts
  backend/src/modules/github/controller.ts
  backend/src/modules/github/controllers/getIssues.ts
  backend/src/modules/github/controllers/getPullRequests.ts
  backend/src/modules/github/controllers/index.ts
  backend/src/modules/github/router.ts
Labels: Common Code API

Updated jest config
  frontend/jest.config.ts
Labels: Common Code Frontend

Added AuthButton test
  frontend/__tests__/unit/components/AuthButton.test.tsx
  frontend/__tests__/unit/components/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/__tests__/unit/components/Breadcrumbs/Crumb.test.tsx
  frontend/__tests__/unit/components/Breadcrumbs/makecrumbs.test.tsx
  frontend/package.json
Labels: Common Code Frontend

Updated page imports
  frontend/src/Router.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Landing/index.ts
  frontend/src/pages/Package.tsx
  frontend/src/pages/index.ts
Labels: Common Code Frontend

Added Greeting and RootLayout tests
  frontend/__tests__/unit/components/RootLayout.test.tsx
  frontend/__tests__/unit/components/text/Greeting.test.tsx
  frontend/src/components/common/Icon/types.ts
Labels: Common Code Frontend

Added Card, PackageCard, GitHubIssues, and IssueCard tests
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Card.test.tsx
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/__tests__/unit/components/github/IssueCard.test.tsx
Labels: Common Code Frontend

Added more component tests
  frontend/__tests__/unit/components/AuthButton.test.tsx
  frontend/__tests__/unit/components/RootLayout.test.tsx
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Heading.test.tsx
  frontend/__tests__/unit/components/common/Icon.test.tsx
  frontend/__tests__/unit/components/common/Modal.test.tsx
  frontend/__tests__/unit/components/common/Spinner.test.tsx
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/jest.config.ts
  frontend/src/components/common/Heading/Heading.tsx
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/Spinner/Spinner.tsx
  frontend/src/components/icons/Authenticate/Authenticate.tsx
  frontend/src/components/icons/Exit/Exit.tsx
  frontend/src/components/icons/JSON/JSON.tsx
Labels: Common Code Frontend

Added utils tests
  frontend/__tests__/unit/utils/formatDateString.test.ts
  frontend/__tests__/unit/utils/formatTimeDifferenceString.test.ts
  frontend/__tests__/unit/utils/getTimeBasedGreeting.test.ts
  frontend/__tests__/unit/utils/hasNoEmptyStringValues.test.ts
  frontend/src/utils/formatTimeDifferenceString.ts
Labels: Common Code Frontend

update docker compose and files
  backend/.docker/Dockerfile.dev
  compose.yaml
  frontend/.docker/Dockerfile.dev
Labels: Common Code API, Common Code Frontend

100% file coverage
  frontend/__tests__/__mocks__/imageMock.ts
  frontend/__tests__/unit/components/github/IssueCard.test.tsx
  frontend/__tests__/unit/pages/Landing.test.tsx
  frontend/__tests__/unit/pages/NotFound.test.tsx
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/jest.config.ts
  frontend/src/components/github/IssueCard/IssueCard.tsx
Labels: Common Code Frontend

Add section component
  frontend/src/components/common/Section/Section.tsx
  frontend/src/components/common/Section/constants.ts
  frontend/src/components/common/Section/index.ts
  frontend/src/components/common/Section/styleMapper.ts
  frontend/src/components/common/Section/types.ts
  frontend/src/components/common/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

Added badge component
  frontend/src/Router.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/common/Badge/Badge.tsx
  frontend/src/components/common/Badge/constants.ts
  frontend/src/components/common/Badge/index.ts
  frontend/src/components/common/Badge/styleMapper.ts
  frontend/src/components/common/Badge/types.ts
  frontend/src/components/common/Heading/constants.ts
  frontend/src/components/common/Heading/types.ts
  frontend/src/components/common/index.ts
  frontend/src/constants/badges/badges.ts
  frontend/src/constants/badges/index.ts
  frontend/src/constants/badges/types.ts
  frontend/src/constants/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/css/variables.css
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Add missing Heading prop value
  frontend/src/components/common/Heading/constants.ts
  frontend/src/components/common/Heading/types.ts
Labels: Common Code Frontend

Fix Package page test
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/__tests__/unit/pages/Package.test.tsx
Labels: Common Code Frontend

Added tests
  frontend/__tests__/unit/components/common/Section.test.tsx
  frontend/__tests__/unit/components/common/Tabs.test.tsx
  frontend/__tests__/unit/components/github/GitHubTabs.test.tsx
  frontend/__tests__/unit/pages/Landing.test.tsx
Labels: Common Code Frontend

Added unit tests
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Badge.test.tsx
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

Create update-image-tag-api-dev.yaml
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

common-code repo context
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

updating deploy key name description
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

Troubleshooting update API image github action
  backend/src/index.ts
Labels: Common Code API

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*
