Repository bcgov/citz-imb-common-code, changes with the labels that .github/labeler.yaml gives for each.
All labels: Github Actions, Openshift, Common Code API, Common Code Frontend

.github/labeler.yaml:

# Auto Label Git Action Config
# 'label_name'
#   - path_of_diff/where/code_lives/to_base_label_upon

'Github Actions':
  - .github/workflows/*

'Openshift':
  - openshift/templates/**/*

'Common Code API':
  - backend/**/*

'Common Code Frontend':
  - frontend/**/*

assets
  frontend/src/assets/declarations.d.ts
  frontend/src/assets/exchange-lab-icon.svg
  frontend/src/assets/github-icon.png
  frontend/src/assets/npm-icon.webp
Labels: Common Code Frontend

removed unneeded export
  frontend/src/components/common/index.ts
  frontend/src/hooks/types.ts
Labels: Common Code Frontend

remarked out components not yet implemented
  frontend/src/components/index.ts
Labels: Common Code Frontend

removed reference to deleted component
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

remove duplicate exports
  frontend/src/utils/index.ts
Labels: Common Code Frontend

deleted unused files
  frontend/src/types/constants.ts
  frontend/src/types/styles.ts
Labels: Common Code Frontend

updated to reflect comments
  frontend/src/App.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/constants/packages/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/main.tsx
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

Added coverage script
  backend/package.json
  backend/scripts/run-coverage-and-open-report.mjs
Labels: Common Code API

removed unneeded files
  frontend/src/App.tsx
  frontend/src/types/constants.ts
  frontend/src/types/styles.ts
Labels: Common Code Frontend

Test optimizations
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/__tests__/unit/utils/logging/getCurrentDateTime.test.ts
  backend/jest.config.ts
  backend/src/utils/logging/getCurrentDateTime.ts
Labels: Common Code API

add breadcrumb component
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/makeCrumbs.ts
  frontend/src/components/Breadcrumbs/styleMapper.ts
  frontend/src/components/Breadcrumbs/styles.ts
  frontend/src/components/Breadcrumbs/types.ts
Labels: Common Code Frontend

configure testing
  frontend/__tests__/setupTests.ts
  frontend/jest.config.ts
  frontend/tsconfig.json
Labels: Common Code Frontend

add unit tests
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/__tests__/unit/Breadcrumbs/Crumb.test.tsx
  frontend/__tests__/unit/Breadcrumbs/makecrumbs.test.tsx
Labels: Common Code Frontend

update auth button to check it's own auth
  frontend/src/components/AuthButton/AuthButton.tsx
  frontend/src/components/AuthButton/index.ts
  frontend/src/components/AuthButton/types.ts
  frontend/src/components/RootLayout/RootLayout.tsx
Labels: Common Code Frontend

MVP-194: API Resource Defintion
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-195: Frontend Resource Definition
  openshift/templates/app-dc-template.yaml
Labels: Openshift

update unit tests
  frontend/__tests__/setupTests.ts
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
Labels: Common Code Frontend

MVP-196: Adding Readiness/Liveness Probe to API container definition
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-197: Adding Readiness/Liveness Probes to Frontend Container Definition
  openshift/templates/app-dc-template.yaml
Labels: Openshift

Update frontend/__tests__/setupTests.ts
  frontend/__tests__/setupTests.ts
Labels: Common Code Frontend

MVP-196: Deploy Troubleshooting
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-196: Tab Typo Troubleshooting
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-196: API Deploy Troubleshooting
  openshift/templates/api-dc-template.yaml
Labels: Openshift

Update openshift/templates/api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-197: Troubleshoot Frontend Deployment
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-194: Re-doing container resource request/limit
  openshift/templates/api-dc-template.yaml
Labels: Openshift

MVP-195: Re-doing container resource request/limit
  openshift/templates/app-dc-template.yaml
Labels: Openshift

MVP-203: Create API HPA Template
  openshift/templates/api-hpa-template.yaml
Labels: Openshift

MVP-204: Create App HPA Template
  openshift/templates/app-hpa-template.yaml
Labels: Openshift

MVP-207: Create Template for API Service and Routes
  openshift/templates/api-service-route-template.yaml
Labels: Openshift

MVP-208: Create Template for App Service and Route
  openshift/templates/app-service-route-template.yaml
Labels: Openshift

MVP-209: Create Template for all basic Network Policies
  openshift/templates/allow-all-internal-np.yaml
Labels: Openshift

Create allow-openshift-ingress-np.yaml
  openshift/templates/allow-openshift-ingress-np.yaml
Labels: Openshift

Update allow-all-internal-np.yaml
  openshift/templates/allow-all-internal-np.yaml
Labels: Openshift

removed unneeded file and clarified function purpose
  frontend/src/components/Breadcrumbs/makeCrumbs.ts
  frontend/src/constants/packages/package.ts
Labels: Common Code Frontend

Create any-to-any-np-template.yaml
  openshift/templates/any-to-any-np-template.yaml
Labels: Openshift

Create any-to-external-np-template.yaml
  openshift/templates/any-to-external-np-template.yaml
Labels: Openshift

Rename allow-openshift-ingress-np.yaml to allow-openshift-ingress-np-template.yaml
  openshift/templates/allow-openshift-ingress-np-template.yaml
Labels: Openshift

Rename allow-all-internal-np.yaml to allow-all-internal-np-template.yaml
  openshift/templates/allow-all-internal-np-template.yaml
Labels: Openshift

Repository Clean-up
  compose.prod.yaml
Labels: none
