Repository bcgov/citz-imb-common-code, pull requests merged in 2024-03, with the labels that each got.

#9 MVP-95: Added design-system header, adjusted styles, fixed scripts
  example.env
  frontend/package.json
  frontend/src/AppRouter.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/index.ts
  frontend/src/css/base.css
  frontend/src/css/variables.css
  frontend/src/pages/Landing.tsx
  package.json
Labels: Common Code Frontend

#14 MVP-80: Automated CD Pipeline For CoCo API
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#15 MVP-80: Debug image tag number for testing pipeline
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#10 MVP-97: Stack component
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/index.ts
  frontend/src/css/variables.css
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

#16 MVP-80: Adding Docker Build Arg For API Node Image
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#13 MVP-98: Added ClickableCard component
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/index.ts
Labels: Common Code Frontend

#21 MVP-80: Copy of Dockerfile.prod one directory up
  .github/workflows/dev-api-image-build.yaml
  backend/Dockerfile.prod
Labels: Github Actions, Common Code API

#23 MVP-80: Typo!
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#24 MVP-80: Artifactory Push Troubleshooting
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#26 MVP-80: Removing bloat from Artifactory URL
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#27 MVP-80: Typo
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#28 MVP-80: Build, tag, push ReactJS App to Artifactory
  .github/workflows/dev-app-image-build.yaml
  frontend/Dockerfile.prod
Labels: Github Actions, Common Code Frontend

#29 MVP-80: Typos
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

#30 MVP-80: Updating build args for frontend
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

#31 MVP-80: Create api-dc-template.yaml
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#33 MVP-80: Removing App DC Field Bloat
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#32 MVP-80: Create app-dc-template.yaml
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#25 MVP-101: Added github issues endpoint
  backend/src/express.ts
  backend/src/modules/github/controller.ts
  backend/src/modules/github/router.ts
  backend/src/modules/github/schemas.ts
  backend/src/modules/index.ts
  backend/src/utils/express-requests/validateRequestSchema.ts
Labels: Common Code API

#34 MVP-116: Removed database
  README.md
  backend/README.md
  backend/package.json
  backend/src/config/auth.ts
  backend/src/config/env.ts
  backend/src/dataSource.ts
  backend/src/index.ts
  backend/src/modules/common/base-entity/base-entity.class.ts
  backend/src/modules/common/controller/controller.class.ts
  backend/src/modules/common/controller/controller.factory.ts
  backend/src/modules/common/index.ts
  backend/src/modules/common/repository/repository.class.ts
  backend/src/modules/common/repository/repository.factory.ts
  backend/src/modules/common/service/service.class.ts
  backend/src/modules/common/service/service.factory.ts
  backend/src/modules/health/controller.ts
  backend/src/modules/health/router.ts
  backend/src/modules/index.ts
  backend/src/modules/user/entity.ts
  backend/src/modules/user/router.ts
  backend/src/utils/auth/activateKeycloakIdirUser.ts
  backend/src/utils/auth/activateUser.ts
  backend/src/utils/logging/logMessages.ts
  compose.yaml
  example.env
  package.json
Labels: Common Code API

#37 MVP-80: Create dev-api-deploy.yaml
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

#40 MVP-80: Image Tag script type
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#42 MVP-80: So many typos
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#43 MVP-80: Re-naming template parameter
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#44 MVP-80: Cleaning Up API DC Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#45 MVP-80: Still more typos
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#48 MVP-80: Rollout Watch Correct Pod Reference
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

#49 MVP-80: Change API DeployConfig Image Reference, Service Account
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#50 MVP-80: Update Hardcoded Image Tag
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#51 adam made me do it
  backend/src/express.ts
Labels: Common Code API

#52 MVP-80: Artifactory Image Reference Typo
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#53 all better
  backend/src/express.ts
Labels: Common Code API

#55 MVP-80: Update Image Pull Secret Reference
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#56 MVP-80: Update pull secret
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#58 MVP-80: Cleanup Dev Deploy Action
  .github/workflows/dev-api-deploy.yaml
Labels: Github Actions

#59 MVP-80: Updating Build, Tag Push Frontend Github Action
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

#62 MVP-80: Wrong Image Tag Table Row Name
  .github/workflows/dev-app-image-build.yaml
Labels: Github Actions

#60 MVP-80: Renaming API Reference to Match Kubernetes Service
  compose.yaml
  frontend/nginx.conf
  frontend/vite.config.ts
Labels: Common Code Frontend

#65 MVP-80: Updating Image and Image Pull Secret
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#67 MVP-80: moving actions to correct directory
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

#68 MVP-80: Many kinds, handle them
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#69 MVP-80: Intentionally Deploying a Bad
  frontend/index.html
Labels: Common Code Frontend

#70 MVP-80: Redeploying a Good
  frontend/index.html
Labels: Common Code Frontend

#71 MVP-80: Testing Deployment Pipeline
  backend/src/index.ts
Labels: Common Code API

#74 MVP-80: Testing for bad deployments
  frontend/index.html
Labels: Common Code Frontend

#75 MVP-80: Remove ResourceID field to allow for re-deployment
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#76 MVP-80: Re-testing bad deployments
  frontend/index.html
Labels: Common Code Frontend

#77 MVP-80: Re-testing Broken Re-Deployments
  frontend/index.html
Labels: Common Code Frontend

#73 MVP-131: Fixed typos in zodValidationMiddleware
  backend/src/utils/express-requests/zodValidationMiddleware.ts
Labels: Common Code API

#78 MVP-80: Vault Integration Secret Injection Into API DC Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#80 MVP-80: Automate Deployment of API to TEST Environment
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#81 MVP-80: Automate Deployment of Frontend to TEST Environment
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#84 MVP-80: Changing Login Service Account to Default
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#85 MVP-80: Secrets not Env
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#86 MVP-80: Missed a secret reference
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#87 MVP-80: It's Monday, did a bad
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#88 MVP-80: Healthcheck Login Secret
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#89 MVP-80: More secret references
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#90 MVP-80: Bug in Image Tag Update Wiki Table
  .github/workflows/dev-api-deploy.yaml
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

#91 MVP-80: Quote Typo in TEST Update Wiki
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#93 MVP-80: Cleanup TEST APP Deployment
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#92 MVP-80: Testing APP Deployment Pipeline to TEST
  frontend/index.html
Labels: Common Code Frontend

#94 MVP-80: Cleaning up copy pasta mistakes from API deploy
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#95 MVP-80: Ugly bad typo
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#96 MVP-80: Naming Convention
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#97 MVP-80: Adding Service Account to APP DC for image pull
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#72 MVP-112: Removed button and a styles
  README.md
  frontend/src/css/base.css
Labels: Common Code Frontend

#101 MVP-80: Removing Service Account From APP DC
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#103 MVP-80: Specifying User Pre-deploy
  .github/workflows/test-app-deploy.yaml
Labels: Github Actions

#82 MVP-110: Typography component
  README.md
  frontend/src/AppRouter.tsx
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/Typography/constants.ts
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/common/Typography/styleMapper.ts
  frontend/src/components/common/Typography/types.ts
  frontend/src/components/common/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDynamicStyles.ts
  frontend/src/pages/Landing.tsx
  package.json
  scripts/setupGitAliases.js
Labels: Common Code Frontend

#104 MVP-80: New Image Pull Secret
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#111 MVP-80: Missing Parameter/Env Var on API Template
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#112 MVP-80: Removing Image Pull Secret Field from API DC
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#113 MVP-80: Remove Image Pull Secret Field from APP DC
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#114 MVP-80: Adding Generic Pull Secret Credential to API/APP DC template
  .github/helpers/deploy.sh
  .github/workflows/dev-api-deploy.yaml
  .github/workflows/dev-app-deploy.yaml
  openshift/templates/api-dc-template.yaml
  openshift/templates/app-dc-template.yaml
Labels: Github Actions, Openshift

#115 MVP-80: Automate APP deployment to PROD
  .github/workflows/prod-app-deploy.yaml
Labels: Github Actions

#116 MVP-80: Automate API deployment to PROD
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

#105 MVP-109: Added heading component
  frontend/src/components/common/Heading/constants.ts
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Heading/styleMapper.ts
  frontend/src/components/common/Heading/types.ts
  frontend/src/components/common/index.ts
Labels: Common Code Frontend

#106 MVP-110: Update existing components
  frontend/src/components/common/Card/constants.ts
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Card/styleMapper.ts
  frontend/src/components/common/Card/types.ts
  frontend/src/components/common/ClickableCard.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/Stack.tsx
  frontend/src/components/common/Stack/constants.ts
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Stack/styleMapper.ts
  frontend/src/components/common/Stack/types.ts
  frontend/src/components/common/index.ts
  frontend/src/hooks/useDynamicStyles.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

#110 MVP-113: Icon component
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Icon/constants.ts
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/Icon/styleMapper.ts
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/common/Spinner.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/components/icons/Authenticate/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/pages/Landing.tsx
Labels: Common Code Frontend

#117 MVP-137 Add SSO express package to backend
  backend/package.json
  backend/src/config/auth.ts
  backend/src/express.ts
Labels: Common Code API

#119 MVP-80: API env var updates
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#121 MVP-80: Changed ENVIRONMENT env var value
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#122 MVP-144: Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend
