Repository bcgov/citz-imb-common-code, pull requests merged in 2024-05, with the labels that each got.

#196 MVP-234: Added github pull request endpoint
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/unit/modules/github/controllers/getIssues.test.ts
  backend/__tests__/unit/modules/github/controllers/getPullRequests.test.ts
  backend/src/modules/github/controllers/getIssues.ts
  backend/src/modules/github/controllers/getPullRequests.ts
  backend/src/modules/github/controllers/index.ts
  backend/src/modules/github/router.ts
Labels: Common Code API

#199 MVP-211: Part2 Unit tests (Frontend)
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Card.test.tsx
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/__tests__/unit/components/github/IssueCard.test.tsx
Labels: Common Code Frontend

#200 MVP-211: Part3 Unit Tests (Frontend)
  frontend/__tests__/unit/components/AuthButton.test.tsx
  frontend/__tests__/unit/components/RootLayout.test.tsx
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Heading.test.tsx
  frontend/__tests__/unit/components/common/Icon.test.tsx
  frontend/__tests__/unit/components/common/Modal.test.tsx
  frontend/__tests__/unit/components/common/Spinner.test.tsx
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/jest.config.ts
  frontend/src/components/common/Heading/Heading.tsx
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/Spinner/Spinner.tsx
  frontend/src/components/icons/Authenticate/Authenticate.tsx
  frontend/src/components/icons/Exit/Exit.tsx
  frontend/src/components/icons/JSON/JSON.tsx
Labels: Common Code Frontend

#205 MVP-211: Part5 Unit Tests (Frontend)
  frontend/__tests__/__mocks__/imageMock.ts
  frontend/__tests__/unit/components/github/GitHubIssues.test.tsx
  frontend/__tests__/unit/components/github/IssueCard.test.tsx
  frontend/__tests__/unit/pages/Landing.test.tsx
  frontend/__tests__/unit/pages/NotFound.test.tsx
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/jest.config.ts
  frontend/src/components/github/IssueCard/IssueCard.tsx
Labels: Common Code Frontend

#208 MVP-248: Create Script to Update Gitops API Image Tag in Dev
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#206 MVP-246: Add section component
  frontend/__tests__/unit/components/common/Section.test.tsx
  frontend/__tests__/unit/components/common/Tabs.test.tsx
  frontend/__tests__/unit/components/github/GitHubTabs.test.tsx
  frontend/__tests__/unit/pages/Landing.test.tsx
  frontend/src/components/common/Heading/constants.ts
  frontend/src/components/common/Heading/types.ts
  frontend/src/components/common/Section/Section.tsx
  frontend/src/components/common/Section/constants.ts
  frontend/src/components/common/Section/index.ts
  frontend/src/components/common/Section/styleMapper.ts
  frontend/src/components/common/Section/types.ts
  frontend/src/components/common/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

#210 MVP-248: Forgot to change yaml field to correctly update
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#211 MVP-248: Troubleshoot API image tag update
  backend/src/index.ts
Labels: Common Code API

#212 MVP-248: Adam made a dumb
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#213 MVP-248: Troubleshoot API image tag update
  backend/src/index.ts
Labels: Common Code API

#214 MVP-248: Dyslexia Strikes Back
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#215 MVP-248: Troubleshooting
  backend/src/index.ts
Labels: Common Code API

#216 MVP-248: Removing Dev Deploy Github Actions for API and Frontend
  .github/workflows/dev-api-deploy.yaml
  .github/workflows/dev-app-deploy.yaml
Labels: Github Actions

#218 MVP-248: Testing Frontend Image Tag Update/Deploy to Dev
  frontend/index.html
Labels: Common Code Frontend

#220 MVP-248: Testing Update Wiki Jobs
  backend/src/index.ts
Labels: Common Code API

#221 MVP-248: Updating User for Update Wiki
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#222 MVP-248: Troubleshooting Update Wiki Action
  backend/src/index.ts
Labels: Common Code API

#207 MVP-247: Added badge component
  frontend/__tests__/unit/components/cards/PackageCard.test.tsx
  frontend/__tests__/unit/components/common/Badge.test.tsx
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/src/Router.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/common/Badge/Badge.tsx
  frontend/src/components/common/Badge/constants.ts
  frontend/src/components/common/Badge/index.ts
  frontend/src/components/common/Badge/styleMapper.ts
  frontend/src/components/common/Badge/types.ts
  frontend/src/components/common/index.ts
  frontend/src/constants/badges/badges.ts
  frontend/src/constants/badges/index.ts
  frontend/src/constants/badges/types.ts
  frontend/src/constants/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/css/variables.css
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

#223 MVP-248: Troubleshooting Github Login in Action
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#224 MVP-248: Updating API Image to Test Update WIki Action
  backend/src/index.ts
Labels: Common Code API

#225 MVP-248: Removing Update Wiki Jobs
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#229 MVP-248: Creating Action to Update TEST API Image Tag in GitOps Repo
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

#230 MVP-248: Typo In Action name
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

#231 MVP-248: Create Script to Update Frontend Image Tag in GitOps Repo
  .github/workflows/update-image-tag-frontend-test.yaml
Labels: Github Actions

#232 MVP-248: Removing Old Promote TEST Image Actions
  .github/workflows/test-api-deploy.yaml
  .github/workflows/test-app-deploy.yaml
  .github/workflows/update-image-tag-api-dev.yaml
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

#233 MVP-248: Create Script to Update PROD API Image Tag in GitOps Repo
  .github/workflows/update-image-tag-api-prod.yaml
Labels: Github Actions

#234 MVP-248: Create Script to Update PROD Frontend Image tag in GitOps Repo
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

#235 MVP-248: Removing Old PROD Promote Actions
  .github/workflows/prod-api-deploy.yaml
  .github/workflows/prod-app-deploy.yaml
Labels: Github Actions

#237 MVP-248: Testing Update Action
  backend/src/index.ts
Labels: Common Code API

#238 MVP-248: Update Image Tag Wiki Table for Frontend Image
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

#239 MVP-248: Testing Update Wiki Table Action
  frontend/index.html
Labels: Common Code Frontend

#240 MVP-248: Updating API TEST Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

#242 MVP-248: Updating Wrong Row/Column for APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

#243 MVP-248: Update PROD API Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-prod.yaml
Labels: Github Actions

#245 MVP-248: Update PROD APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

#244 MVP-248: Update TEST APP Image Tag in Wiki Table
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

#228 MVP-236: Added pull requests to Package page
  frontend/__tests__/unit/components/github/GitHubPulls.test.tsx
  frontend/__tests__/unit/components/github/GitHubTabs.test.tsx
  frontend/src/components/common/Tabs/Tabs.tsx
  frontend/src/components/common/Tabs/styleMapper.ts
  frontend/src/components/github/GitHubPulls/GitHubPulls.tsx
  frontend/src/components/github/GitHubPulls/index.ts
  frontend/src/components/github/GitHubPulls/types.ts
  frontend/src/components/github/GitHubTabs/GitHubTabs.tsx
  frontend/src/components/github/index.ts
  frontend/src/css/variables.css
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/utils/endpoints.ts
Labels: Common Code Frontend

#248 MVP-226: Create Code Climate Integration for Test Coverage
  .github/workflows/api-test-coverage-report.yaml
Labels: Github Actions

#254 MVP-248: Missing Github Token pt.3?
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

#252 MVP-248: Missing Github Token?
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

#253 MVP-248: Missing Github Token pt.2?
  .github/workflows/update-image-tag-frontend-test.yaml
Labels: Github Actions

#255 MVP-232: Updated SSO React to 1.0.0-beta
  frontend/package.json
Labels: Common Code Frontend

#251 MVP-265: Updated links to documentation
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/src/Router.tsx
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

#258 MVP-226: Upload API coverage to Github
  .github/workflows/api-test-coverage-report.yaml
  .github/workflows/test-coverage-report.yaml
  frontend/__tests__/unit/utils/formatDateString.test.ts
  frontend/src/utils/formatDateString.ts
Labels: Github Actions, Common Code Frontend

#259 MVP-226: Code Climate Action Cleanup
  .github/workflows/test-coverage-report.yaml
Labels: Github Actions

#260 MVP-226: API CI Test Suite Action
  .github/workflows/ci-api-unit-integration-test.yaml
Labels: Github Actions

#261 MVP-226: Create CI Action for Frontend Unit Test Suite
  .github/workflows/ci-frontend-unit-integration-test.yaml
Labels: Github Actions

#262 MVP-226: Undo adam do stuff
  backend/src/index.ts
Labels: Common Code API

#266 MVP-226: Refactor CI Test Suite Into One Action
  .github/workflows/ci-api-unit-integration-test.yaml
  .github/workflows/ci-frontend-unit-integration-test.yaml
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#268 MVP-226: If/Else Typo
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#269 MVP-226: Fetch depth for Output Logic
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#270 MVP-226: Troubleshooting Output
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#271 MVP-226: Troubleshooting Output
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#272 MVP-226: Indentation/Spacing Errors
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#273 MVP-226: Fix ci job
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions

#267 MVP-226: Brady did it
  frontend/index.html
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

#274 MVP-226: Undid the thing
  frontend/src/pages/Landing/Landing.tsx
Labels: Common Code Frontend

#277 MVP-226: Update Path Requirements for CI
  .github/workflows/ci-unit-integration-test.yaml
Labels: Github Actions
