Repository bcgov/citz-imb-common-code, pull requests merged in 2024-04, with the labels that each got.

#123 MVP-140 Update frontend dependencies
  frontend/package.json
Labels: Common Code Frontend

#124 MVP-141: Update Backend Dependencies
  backend/package.json
Labels: Common Code API

#127 MVP-102: GitHub Issues component
  frontend/.eslintrc.cjs
  frontend/src/AppRouter.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/SectionCard/constants.ts
  frontend/src/components/common/SectionCard/index.tsx
  frontend/src/components/common/SectionCard/styleMapper.ts
  frontend/src/components/common/SectionCard/types.ts
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/Spinner/styles.css
  frontend/src/components/common/Spinner/types.ts
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Typography/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/github/GitHubIssues/index.tsx
  frontend/src/components/github/GitHubIssues/types.ts
  frontend/src/components/github/IssueCard/constants.ts
  frontend/src/components/github/IssueCard/index.tsx
  frontend/src/components/github/IssueCard/styleMapper.ts
  frontend/src/components/github/IssueCard/types.ts
  frontend/src/components/github/index.ts
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/css/variables.css
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
  frontend/src/utils/endpoints.ts
  frontend/src/utils/formatTimeDifferenceString.ts
Labels: Common Code Frontend

#133 MVP-80: Troubleshooting Vault Init
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#132 MVP-80: Troubleshooting Vault Init Container
  .github/helpers/deploy.sh
  .github/workflows/dev-api-deploy.yaml
  .github/workflows/prod-api-deploy.yaml
  .github/workflows/test-api-deploy.yaml
Labels: Github Actions

#131 MVP-145: Updated SSO packages
  backend/package.json
Labels: Common Code API

#128 MVP-99: SSO Card components
  frontend/src/components/cards/PackageCard/index.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/cards/index.ts
  frontend/src/components/text/Greeting/index.tsx
  frontend/src/components/text/index.ts
  frontend/src/pages/Landing.tsx
  frontend/src/utils/getTimeBasedGreeting.ts
  frontend/src/utils/index.ts
Labels: Common Code Frontend

#134 MVP-80: Update Deploy Scipt to check for set vault environment variable
  .github/helpers/deploy.sh
  .github/workflows/prod-api-deploy.yaml
Labels: Github Actions

#129 MVP-103: Package page
  frontend/src/AppRouter.tsx
  frontend/src/assets/exchange-lab-icon.svg
  frontend/src/assets/github-icon.png
  frontend/src/assets/npm-icon.webp
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

#136 MVP-144: Updated sso package
  backend/package.json
Labels: Common Code API

#130 MVP-104: Added modal component
  frontend/src/components/common/Icon/constants.ts
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/common/Modal/constants.ts
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Modal/styleMapper.ts
  frontend/src/components/common/Modal/types.ts
  frontend/src/components/common/index.ts
  frontend/src/components/icons/Exit/index.tsx
  frontend/src/components/icons/Exit/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/css/variables.css
Labels: Common Code Frontend

#137 Updated title
  frontend/index.html
Labels: Common Code Frontend

#141 Added spacing props to Stack component
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Stack/constants.ts
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/common/Stack/styleMapper.ts
  frontend/src/components/common/Stack/types.ts
  frontend/src/components/github/IssueCard/index.tsx
Labels: Common Code Frontend

#145 MVP-155: Part1 - Added jest config and some unit tests
  .gitignore
  backend/__tests__/unit/utils/express-requests/HttpError.test.ts
  backend/__tests__/unit/utils/express-requests/errorWrapper.test.ts
  backend/__tests__/unit/utils/express-requests/httpStatusCode.test.ts
  backend/__tests__/unit/utils/express-requests/validateZodRequestSchema.test.ts
  backend/__tests__/unit/utils/express-requests/zodValidationMiddleware.test.ts
  backend/jest.config.ts
  backend/package.json
  backend/src/utils/index.ts
  backend/tsconfig.json
Labels: Common Code API

#151 Fix github issues urls
  backend/src/modules/github/controller.ts
  frontend/src/components/github/IssueCard/index.tsx
Labels: Common Code API, Common Code Frontend

#147 MVP-155: Part2: Remaining utils unit tests
  backend/__tests__/unit/utils/logging/colors.test.ts
  backend/__tests__/unit/utils/logging/debugStatements.test.ts
  backend/__tests__/unit/utils/logging/getCurrentDateTime.test.ts
  backend/__tests__/unit/utils/logging/logMessages.test.ts
  backend/__tests__/unit/utils/zod.test.ts
  backend/jest.config.ts
  backend/src/utils/logging/getCurrentDateTime.ts
  backend/src/utils/zod.ts
Labels: Common Code API

#148 MVP-155: Part3 - Added module unit tests
  backend/__tests__/unit/modules/config/controller.test.ts
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/__tests__/unit/modules/github/schemas.test.ts
  backend/__tests__/unit/modules/health/controller.test.ts
Labels: Common Code API

#149 MVP-155: Part4 - Added config unit tests
  backend/__tests__/unit/config/auth.test.ts
  backend/__tests__/unit/config/cors.test.ts
  backend/__tests__/unit/config/rateLimit.test.ts
  backend/src/express.ts
Labels: Common Code API

#153 Production build fixes
  .github/workflows/dev-api-image-build.yaml
  .github/workflows/dev-app-image-build.yaml
  backend/.docker/Dockerfile.prod
  backend/Dockerfile.prod
  compose.prod.yaml
  frontend/Dockerfile.prod
Labels: Github Actions, Common Code API, Common Code Frontend

#154 MVP-155: Fixed tests
  backend/__tests__/integration/github/router.test.ts
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/jest.config.ts
  backend/tsconfig.json
Labels: Common Code API

#155 Changed prod npm script
  backend/package.json
Labels: Common Code API

#156 MVP-126: Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

#160 MVP-100 Breadcrumbs - Config Changes
  frontend/.eslintrc.cjs
  frontend/jest.config.ts
  frontend/package.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: Common Code Frontend

#162 MVP-100 Breadcrumbs - Component Refactor
  frontend/src/components/AuthButton/AuthButton.tsx
  frontend/src/components/AuthButton/index.ts
  frontend/src/components/AuthButton/types.ts
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/cards/PackageCard/index.ts
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/common/Card/Card.tsx
  frontend/src/components/common/Card/index.ts
  frontend/src/components/common/Heading/Heading.tsx
  frontend/src/components/common/Heading/index.ts
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Icon/index.ts
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/Modal/index.ts
  frontend/src/components/common/PageLayout.tsx
  frontend/src/components/common/SectionCard/SectionCard.tsx
  frontend/src/components/common/SectionCard/index.ts
  frontend/src/components/common/Spinner/Spinner.tsx
  frontend/src/components/common/Spinner/index.ts
  frontend/src/components/common/Stack/Stack.tsx
  frontend/src/components/common/Stack/index.ts
  frontend/src/components/common/Typography/Typography.tsx
  frontend/src/components/common/Typography/index.ts
  frontend/src/components/common/index.ts
  frontend/src/components/github/GitHubIssues/GitHubIssues.tsx
  frontend/src/components/github/GitHubIssues/index.ts
  frontend/src/components/github/IssueCard/IssueCard.tsx
  frontend/src/components/github/IssueCard/index.ts
  frontend/src/components/icons/Authenticate/Authenticate.tsx
  frontend/src/components/icons/Authenticate/index.ts
  frontend/src/components/icons/Exit/Exit.tsx
  frontend/src/components/icons/Exit/index.ts
  frontend/src/components/index.ts
  frontend/src/components/text/Greeting/Greeting.tsx
  frontend/src/components/text/Greeting/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/types.ts
  frontend/src/hooks/useDynamicStyles.ts
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
  frontend/src/utils/index.ts
Labels: Common Code Frontend

#164 MVP-100 Breadcrumbs - Router Refactor
  frontend/src/AppRouter.tsx
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/RootLayout/index.ts
  frontend/src/components/RootLayout/styles.ts
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/index.ts
  frontend/src/constants/index.ts
  frontend/src/constants/packages/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/constants/packages/types.ts
  frontend/src/global.ts
  frontend/src/main.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Package.tsx
  frontend/src/utils/index.ts
Labels: Common Code Frontend

#166 MVP-194: API Resource Defintion
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#168 MVP-196: Adding Readiness/Liveness Probe to API Container
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#169 MVP-197: Adding Readiness/Liveness Probes to Frontend Container
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#165 MVP-155: Test coverage script and optimizations
  backend/__tests__/unit/modules/github/controller.test.ts
  backend/__tests__/unit/utils/logging/getCurrentDateTime.test.ts
  backend/jest.config.ts
  backend/package.json
  backend/scripts/run-coverage-and-open-report.mjs
  backend/src/utils/logging/getCurrentDateTime.ts
Labels: Common Code API

#170 MVP-196: Deploy Troubleshooting
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#171 MVP-196: Tab Typo Troubleshooting
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#173 MVP-197: Troubleshoot Frontend Deployment
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#174 MVP-194: Re-doing container resource request/limit
  openshift/templates/api-dc-template.yaml
Labels: Openshift

#175 MVP-195: Re-doing container resource request/limit
  openshift/templates/app-dc-template.yaml
Labels: Openshift

#176 MVP-203: Create API HPA Template
  openshift/templates/api-hpa-template.yaml
Labels: Openshift

#177 MVP-204: Create App HPA Template
  openshift/templates/app-hpa-template.yaml
Labels: Openshift

#178 MVP-207: Create Template for API Service and Routes
  openshift/templates/api-service-route-template.yaml
Labels: Openshift

#179 MVP-208: Create Template for App Service and Route
  openshift/templates/app-service-route-template.yaml
Labels: Openshift

#163 MVP-100 Breadcrumbs Component
  frontend/__tests__/setupTests.ts
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/__tests__/unit/Breadcrumbs/Crumb.test.tsx
  frontend/__tests__/unit/Breadcrumbs/makecrumbs.test.tsx
  frontend/jest.config.ts
  frontend/src/components/AuthButton/AuthButton.tsx
  frontend/src/components/AuthButton/index.ts
  frontend/src/components/AuthButton/types.ts
  frontend/src/components/Breadcrumbs/Breadcrumbs.tsx
  frontend/src/components/Breadcrumbs/Crumb.tsx
  frontend/src/components/Breadcrumbs/index.ts
  frontend/src/components/Breadcrumbs/makeCrumbs.ts
  frontend/src/components/Breadcrumbs/styles.ts
  frontend/src/components/Breadcrumbs/types.ts
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/cards/PackageCard/index.tsx
  frontend/src/components/common/Card/index.tsx
  frontend/src/components/common/Heading/index.tsx
  frontend/src/components/common/Icon/index.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/SectionCard/index.tsx
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/Stack/index.tsx
  frontend/src/components/github/GitHubIssues/index.tsx
  frontend/src/components/github/IssueCard/index.tsx
  frontend/src/components/icons/Authenticate/index.tsx
  frontend/src/components/icons/Exit/index.tsx
  frontend/src/components/index.ts
  frontend/src/components/text/Greeting/index.tsx
  frontend/tsconfig.json
Labels: Common Code Frontend

#180 MVP-209: Create Template for all basic Network Policies
  openshift/templates/allow-all-internal-np-template.yaml
  openshift/templates/allow-openshift-ingress-np-template.yaml
  openshift/templates/any-to-any-np-template.yaml
  openshift/templates/any-to-external-np-template.yaml
Labels: Openshift

#182 Testing and path updates
  example.env
  frontend/__tests__/setupTests.ts
  frontend/__tests__/unit/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/__tests__/unit/Breadcrumbs/Crumb.test.tsx
  frontend/__tests__/unit/Breadcrumbs/makecrumbs.test.tsx
  frontend/jest.config.ts
  frontend/package.json
  frontend/scripts/run-coverage-and-open-report.mjs
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/cards/PackageCard/types.ts
  frontend/src/components/common/Card/Card.tsx
  frontend/src/components/common/Heading/Heading.tsx
  frontend/src/components/common/Icon/Icon.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/SectionCard/SectionCard.tsx
  frontend/src/components/common/Stack/Stack.tsx
  frontend/src/components/common/Typography/Typography.tsx
  frontend/src/components/github/GitHubIssues/GitHubIssues.tsx
  frontend/src/components/github/IssueCard/IssueCard.tsx
  frontend/src/components/text/Greeting/Greeting.tsx
  frontend/src/constants/packages/types.ts
  frontend/src/main.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Package.tsx
  frontend/tsconfig.json
Labels: Common Code Frontend

#183 MVP-214: Add CSS API package
  README.md
  backend/package.json
  compose.override.yaml
  compose.yaml
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/components/common/Icon/types.ts
  frontend/src/components/icons/JSON/JSON.tsx
  frontend/src/components/icons/JSON/index.ts
  frontend/src/components/icons/JSON/types.ts
  frontend/src/components/icons/index.ts
  frontend/src/constants/packages/packages.ts
  frontend/src/pages/Landing.tsx
  package.json
Labels: Common Code API, Common Code Frontend

#188 Backend dependency updates
  backend/package.json
Labels: Common Code API

#189 Frontend dependency updates
  frontend/package.json
Labels: Common Code Frontend

#190 MVP-214: Updated spacing and text
  frontend/src/Router.tsx
  frontend/src/components/RootLayout/RootLayout.tsx
  frontend/src/components/cards/PackageCard/PackageCard.tsx
  frontend/src/constants/packages/packages.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Landing/index.ts
  frontend/src/pages/Landing/styles.css
Labels: Common Code Frontend

#191 MVP-214: Updated text and sso react package
  frontend/package.json
  frontend/src/constants/packages/packages.ts
Labels: Common Code Frontend

#195 Reducing Memory Limit on API DC to Avoid silent deploy failures
  openshift/templates/api-dc-template.yaml
Labels: Openshift
