Repository bcgov/citz-imb-common-code, pull requests merged in 2024-06, with the labels that each got.

#280 MVP-278: Added bug report and feature request links
  frontend/__tests__/unit/pages/Package.test.tsx
  frontend/src/assets/bug-report.svg
  frontend/src/assets/feature-request.svg
  frontend/src/pages/Package.tsx
Labels: Common Code Frontend

#283 Backend dependency updates
  backend/package.json
Labels: Common Code API

#284 Frontend dependency updates
  frontend/package.json
Labels: Common Code Frontend

#288 MVP-326: Updated sso packages
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend

#291 Test Promotion Typo In Log Output
  .github/workflows/update-image-tag-api-test.yaml
Labels: Github Actions

#287 Mvp 288 create table and api endpoint
  README.md
  backend/README.md
  backend/nodemon.json
  backend/package.json
  backend/src/database/dataSource.ts
  backend/src/database/migrations/1718118307165-initial_setup.ts
  backend/src/entities/index.ts
  backend/src/entities/task.entity.ts
  backend/src/express.ts
  backend/src/index.ts
  backend/src/routes.ts
  backend/src/utils/logging/logMessages.ts
  compose.override.yaml
  example.env
Labels: Common Code API

#296 MVP-323 dependency updates
  backend/package.json
  frontend/package.json
Labels: Common Code API, Common Code Frontend
